.footer-container {
    display: flex;
    align-items: baseline;
}

.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--secondary-background);
}

.address-list__link {
    line-height: 1.71;
    color: var(--secondary-color);    
    font-weight: 400;
}

.address-list__item:not(:last-child) {
    margin-bottom: 9px;
}

.footer-join {    
    margin-left: 70px;    
}